* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace
}

body {
    font-family: "JetBrains Mono ExtraBold";
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow:
    0 4px 8px rgba(0, 0 ,0 ,0.1);
    width: 350px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.password-settings {
    margin-bottom: 20px;
}

.password-settings label {
    display: block;
    margin: 5px 0;
    font-size: 14px;
}

.password-settings input[type = "number"],
.password-settings button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc
    border-radius: 4px
}

.checkboxes {
    margin-top: 15px;
}

.checkboxes input[type = "checkbox"] {
    margin-right: 25%;
}

.generated-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generated-password input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 10px;
    word-break: break-all;
}

.generate-btn {
    font-family: 'JetBrains Mono SemiBold';
}
